@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap')

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* fonts */

body {
    font-family: Signika, sans-serif;
    font-style: normal;
    color: #1C1B1B;
    margin: 0;
}

h1, h2{
    font-family: Open Sans, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: .1em;
    color: #263640;
}

/* logo */

header {
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #fff;
}

.logo {
    width: auto;
    height: 90px;
    float: none;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.logo-cropped {
    height: 100px;
    object-fit: cover;
}

/* navigation items */

#header-menu, ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#header-menu li {
    display: inline-block;
    width: 100px;
    padding-bottom: 15px;
 
}

.header-menu-list-item a {
    text-decoration: none;
    color: inherit;
    font-size: 65%;  
    font-weight: 500;
}

/*banner image*/

#banner-container {
    overflow: hidden;
    position: relative;
 }

#banner-image {
    height: 700px;
    max-width: 100%;
    background-image: url("/assets/images/banner/pexels-rachel-claire-5490820_modified.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #E7F0EF;  
}
/*banner button*/

#shop-button {
    height: 2.5em;
    width: 8em;
    background-color: #263640;
    color: #EBF2F1;
    border-style: none;
}

#shop-button:hover {
    background-color: #EBF2F1;
    color: #263640;
    border-style: solid;
}
.vertical-center-button {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
