*{
    margin:0;
    padding:0;
    border:0;
}

/* logo */

header {
    text-transform: uppercase;
    letter-spacing: .2em;
}

.logo {
    width: auto;
    height: auto;
    float: none;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.logo img {
    height: 120px;
}

/* navigation items */

#header-menu {
    text-align: center;

}

#header-menu li {
    display: inline-block;

}

.header-menu-list-item a {
    text-decoration: none;
    color: inherit;

}